html {
  height: 100%;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #854242;
  border-radius: 10px;
  border: 3px solid #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b3535;
}