.header {
  background: #854242;
  color: #fff;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-title {
  text-decoration: none;
  font-size: 2rem;
  font-family: Verdana;
  color: #fff
}

.FaBars {
  margin: 0px 15px 0px 15px;
  cursor: pointer;
  font-size: 2rem;
}

.FaBook {
  margin: 0px 15px 5px 15px;
  cursor: pointer;
  font-size: 2rem;
}

.FaCog {
  margin: 0px 15px 5px 15px;
  cursor: pointer;
  font-size: 2rem;
}